body {
    background-color: #ebe7d9;
    font-family: 'Merriweather', serif;

}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 200%;
}
.display-4{
    font-family: 'DM Serif Display', serif;
    font-weight: 600;
    font-size: 400%;
}

#index {
    border: 1px solid white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e8e8e8;
    border-radius: 0.3rem;
}

/* Nav */
nav {
    grid-area: nav;
}

.navbar>button {
    border: none;
}

.bg {
    background-color: #0E1A22;
}

.nav-item {
    text-align: center;
}

.navbar>a>button {
    background: transparent;
    border: transparent;
    color: white;
}

@media (min-width: 576px) {

    body {
        padding: 100px;
    }

    #index {
        padding: 4rem 2rem;
    }
}

.mb-1 {
    margin-bottom: 100em;
}

.pt-1 {
    padding-top: 50em;
}

.pl-1 {
    padding-left: 50em;
}

.pr-1 {
    padding-right: 50em;
}

.p-1 {
    padding: 50em;
}

.m-1 {
    margin: 50em;
}