body {
  background-color: #ebe7d9;
  padding-top: 200px;
  font-family: Verdana, sans-serif;
}

h1 {
  color: white;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a,
a:hover {
    color: grey;
}

h2 {
  color: white;
}

/* Container */
#container {
  display: grid;
  height: 920px;
  width: 480px;
  grid-template-rows: 0.5fr 10fr;
  grid-template-areas:
    "nav"
    "calendar";
}

/* Nav */
.nav {
  height: 70px;
  grid-area: nav;
  display: grid;
  grid-template-columns: 2fr 0.9fr 1.5fr;
  background-color: #0E1A22;
  grid-area: nav;
  color: gray;
  align-items: center;
  padding-left: 10px;
}

.nav-options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-end;
}

.nav-options>a {
  text-align: end;
  align-content: end;
}

.nav-item {
  text-align: center;
}

.nav>a {
  width: 80px;
}

.nav>a>button {
  background: transparent;
  color: white;
  border: none;
}

/* Calendar */

#calendar {
  width: auto;
  height: 610px;

}

.bg-calendar {
  grid-area: calendar;
  background-color: #0E1A22;
  padding: 10px;
  border-radius: 10px;
}

th,
tr,
td {
  background-color: #fcdab7;
  cursor: pointer;
}

th {
  cursor: default;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {

  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {

  .weekdays li,
  .days li {
    width: 12.5%;
  }

  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {

  .weekdays li,
  .days li {
    width: 12.2%;
  }
}