body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe7d9;
}

.bg {
    background-color:#0E1A22;
}

input {
    border-radius: 5px;
    border: 1px solid #0E1A22;
}

button {
    background-color: #fcdab7;
    border: 1px solid #0E1A22;
    border-radius: 5px;
    box-shadow: none;
}

button:hover {
    box-shadow: 0px 1px 5px #839b97;
    color-adjust: 90%;
    color: #f4f4f2;
}

#container {
    width: 480px;
    display: grid;
    padding: 10px;
    color: #0E1A22;
}

#Lobby {
    height: 500px;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "Name"
    "Game"
    "Code"
    "Amount"
    "Create";
    align-items: center;
    justify-content: center;
}

.Name {
    grid-area: Name;
}

.Game {
    grid-area: Game;
}

.Code {
    grid-area: Code;
}

.Amount {
    grid-area: Amount;
}

.Create {
    grid-area: Create;
    margin: 0 auto;
}