body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #133b5c;
    padding: 30px;
}

input {
    border-radius: 5px;
    border: none;
}

button {
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

button:hover {
    box-shadow: 0px 1px 5px #839b97;
    color-adjust: 90%;
    color: #f4f4f2;
}

#container {
    height: 920px;
    width: 480px;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
    "nav"
    "Lobby";
    padding: 10px;
    color: #f4f4f2;
}

#Lobby {
    height: 500px;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "Name"
    "Game"
    "Amount"
    "Create";
    align-items: center;
    justify-content: center;
}

.Name {
    grid-area: Name;
}

.Game {
    grid-area: Game;
}

.Amount {
    grid-area: Amount;
}

.Amount>button {
    justify-content: center;
    align-self: middle;
    width: 30px;
    height: 27px;
    background-color: #fcdab7;

}

.Create {
    grid-area: Create;
    margin: 0 auto;
}

.Create>a>button {
    background-color: #fcdab7;
}