body {
    min-height: 100vh;
    display: flex;
    background-color: #34626c;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

/* Container */
#container { 
    height: 1020px;
    width: 480px;
    display: grid;
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-areas: 
    "nav"
    "preview" 
    "categories";
    row-gap: 20px;
    padding: 10px;
}

/* Nav */
.navbar {
    grid-area: nav;
    align-items: center;
}

/* Game Preview */
.preview {
    grid-area: preview;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.preview > img {
    width: 350px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
}

.arrows {
    border: 0px;
}

/* Catergories */
.categories {
    grid-area: categories;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "calendar"
    "lobbies"
    "users"
    "chat";
    margin: 0 auto;
}

.categories > a  >button{
    width: 400px;
    height: 100px;
    background-color: #c6b497;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.categories > a  >button:hover{
    box-shadow: 0px 1px 15px #839b97;
    color: #fff;
    transform: translateY(-5px);
}
.calendar {
    grid-area: calendar;

}

.lobbies {
    grid-area: lobbies;
    padding: 10px;
}

.users {
    grid-area: users;
    padding: 10px;
}

.chat {
    grid-area: chat;
    padding: 10px;
}