body {
    min-height: 100vh;
    display: flex;
    background-color:#ebe7d9;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

/* Container */
#container {
    height: 920px;
    width: 480px;
    display: grid;
    grid-template-rows: 0.3fr 2fr 3fr;
    grid-template-areas:
        "nav"
        "preview"
        "categories";
    row-gap: 10px;
    padding: 10px;
}

/* Nav */
.navbar {
    grid-area: nav;
    color: #cfd3ce;
    align-items: center;
}

.navbar>button {
    border: 2px solid white;
}

.bg {
    background-color:#0E1A22;
}

.nav-item {
    text-align: center;
}

/* Game Preview */
.preview {
    grid-area: preview;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.mySlides>img {
    width: 400px;
    height: 250px;
    border: 1px solid #0E1A22;
    border-radius: 10px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.prev {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.next {
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.prev:hover,
.next:hover {
    background-color: white;
    opacity: 50%;
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    background-color: black;
    opacity: 50%;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Catergories */
.categories {
    grid-area: categories;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "calendar"
        "lobbies"
        "users";
    margin: 0 auto;
}

.categories>a {
    width: 400px;
    height: 100px;
}

.categories>a>button {
    width: 400px;
    height: 100px;
    background-color: #fcdab7;
    border: 3px solid #0E1A22;
    border-radius: 10px;
    color: #1d2d50;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.categories>a>button:hover {
    box-shadow: 0px 1px 15px #839b97;
    color: #fff;
    transform: translateY(-3px);
}

.calendar {
    grid-area: calendar;
    padding: 10px;
}

.lobbies {
    grid-area: lobbies;
    padding: 10px;
}

.users {
    grid-area: users;
    padding: 10px;
}

/* Responsive CSS */
@media screen and (max-width: 500px) {

    .form {
        width: 95%;
    }

    .form .user-input {
        width: 100%
    }

    .form .btn {
        width: 100%;
    }
}