body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #133b5c;
}

/* Container */
#container {
    height: 920px;
    width: 480px;
    display: grid;
    grid-template-rows: 1fr 0.5fr 10fr;
    grid-template-areas: 
    "nav"
    "Creating"
    "Lobbies";
}

/* Nav */
nav {
    grid-area: nav;
}

.navbar>button {
    border: none;
}

/* Create Button */
.Creating {
    width: 100px;
    grid-area: Creating;
    display: grid;
}

.Creating>p {
    color: black;
}

.Creating>a>button {
    width: 100px;
    height: 30px;
    background-color: #fcdab7;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Creating>a>button:hover {
    box-shadow: 0px 1px 15px #839b97;
    color: #fff;
    transform: translateY(-1px);
}

/* Lobby List */
.Lobbies> ul {
    grid-area: Lobbies;
    display: grid;
    margin: 20px;
    row-gap: 10px;
    padding: 10px;
    background-color: #1d2d50;
    border-radius: 10px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "Name Players"
    "Game Players";

}

.Lobbies> ul > button {
    background-color: #fcdab7;
    border-radius: 10px;
    border: none;
}

.Lobbies> ul > button:hover {
    box-shadow: 0px 1px 15px #839b97;
    color: #fff;
}

p {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}