body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe7d9;
}

/* Container */
#container {
    height: 920px;
    width: 480px;
    display: grid;
    grid-template-rows: 1fr 0.5fr 10fr;
    grid-template-areas: 
    "nav"
    "Creating"
    "Lobbies";
}

/* Nav */
nav {
    grid-area: nav;
}

.navbar>button {
    border: none;
}

.bg {
    background-color: #0E1A22;
}

.nav-item {
    text-align: center;
}

.navbar>a>button {
    background: transparent;
    border: transparent;
    color: white;
}

/* Create Button */
.Creating {
    grid-area: Creating;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    padding-left: 20px;
}

.Creating>button,
.Creating>a>button {
    width: 100px;
    height: 40px;
    background-color: #fcdab7;
    border: 2px solid #0E1A22;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Creating>button:hover,
.Creating>a>button:hover {
    box-shadow: 0px 1px 15px #839b97;
    color: #fff;
    transform: translateY(-1px);
}

/* Lobby List */
.Lobbies {
    grid-area: Lobbies;
}

.Lobbies> ul {
    display: grid;
    margin: 20px;
    row-gap: 10px;
    padding: 10px;
    background-color: #0E1A22;
    border-radius: 10px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "Name Players"
    "Game Players";

}

.Lobbies> ul > button {
    background-color: #fcdab7;
    border-radius: 10px;
    border: none;
}

.Lobbies> ul > button:hover {
    box-shadow: 0px 1px 15px #839b97;
    color: #fff;
}

p {
    padding-left: 10px;
    font-size: 20px;
}