body {
    min-height: 100vh;
    display: flex;
    background-color: #ebe7d9;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding-top: 100px;
}

#container {
    height: 920px;
    width: 480px;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
        "nav"
        "Lobby";
    row-gap: 20px;
    padding: 10px;
}

/* Nav */
.navbar {
    grid-area: nav;
    color: gray;
    align-items: center;
    height: 70px;
}

.bg {
    background-color:#0E1A22;
}