@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  min-height: 100vh;
  display: flex;
  background-color: #133b5c;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

#container {
  height: 920px;
  width: 480px;
}
.firebaseui-auth-container>mdl-card {
  border-radius: 50px;
}
