body {
    min-height: 100vh;
    display: flex;
    background-color: #ebe7d9;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

h1 {
    color: white;
}

/* Container */
#container {
    height: 920px;
    width: 480px;
    display: grid;
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-areas:
        "nav"
        "list";
    row-gap: 20px;
    padding: 10px;
}

/* Nav */
.nav {
    height: 70px;
    grid-area: nav;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    background-color: #0E1A22;
    grid-area: nav;
    color: gray;
    align-items: center;
    padding-left: 10px;
}

.nav-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-end;
}

.nav-options>a {
    text-align: end;
    align-content: end;
}

.nav-item {
    text-align: center;
}

.nav>a {
    width: 80px;
}

.nav>a>button {
    background: transparent;
    color: white;
    border: none;
}